@{
    ViewData["Title"] = "Home Page";
}

<div style="position: relative">
    <img src="~/Images/computers.jpg" class="img-fluid rounded" />
    <div class="text-block col-3">
        <h5 class="some-paragraph" style="color: white; margin-bottom: 15px">See our promotions:</h5>
        <a asp-controller="Products" asp-action="AllDiscounts" class="some-paragraph btn btn-outline-light">Promotions</a>
    </div>
</div>
<div class="text-center mt-3">
    <h3>See Our Products</h3>

    <div class="col-3 d-inline-block">
        <a asp-controller="Products" asp-action="AllByCategory" asp-route-category="PC" class="text-decoration-none">
            <img src="~/Images/computerProduct.webp" width="200" height="200" class="img-fluid" />
            <p class="font-weight-bolder text-dark">Computers</p>
        </a>
    </div>
    <div class="col-3 d-inline-block">
        <a asp-controller="Products" asp-action="AllByCategory" asp-route-category="Component" class="text-decoration-none">
            <img src="~/Images/processorProduct.webp" width="200" height="200" class="img-fluid" />
            <p class="font-weight-bolder text-dark">Components</p>
        </a>
    </div>
    <div class="col-3 d-inline-block">
        <a asp-controller="Products" asp-action="AllByCategory" asp-route-category="Periphery" class="text-decoration-none">
            <img src="~/Images/keyboardProduct.png" width="200" height="200" class="img-fluid" />
            <p class="font-weight-bolder text-dark">Peripheries</p>
        </a>
    </div>
</div>
<div class="text-center mt-3 bg-primary p-4 text-light rounded-pill mb-4"></div>
    
