html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*-------Contacts-------*/
.rounded-2 {
    border-radius: 2.25rem !important;
}

.bg-blue {
    background-color: #2196f3 !important;
}
