html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*-------Contacts-------*/
.rounded-2 {
    border-radius: 2.25rem !important;
}

.bg-blue {
    background-color: #2196f3 !important;
}

/*--------Home-------*/
.text-block {
    position: absolute;
    top: 6vw;
    left: 4vw;
    padding: 10px 15px 6px 15px;
}

.some-paragraph {
    font-size: 2vw;
}

@media (min-width: 674px) {
    .justify-content-smd-start {
        justify-content: start !important;
    }
}
